<h1>Edit Sail  |  
<%= link_to "Delete", sail_path(@sail),
          method: :delete %></h1>

<%= simple_form_for @sail do |f| %>
  <%= f.input :title %>
  <%= f.text_field :when %>
  <%= f.input :details, as: :text %>
  <%= f.submit %>
<% end %>


<p><%= link_to "Back to Sails", sails_path %></p>

