<h1>Sails</h1>

<div id="sails">
  <% @sails.each do |sail| %>
    <h2><%= link_to sail.title, sail %></h2>
    <p class="info">Date of Sail <%= sail.when.strftime("%B %e, %Y") %></p>
    <%= simple_format sail.details %>
    <p><%= link_to "Edit Sail", edit_sail_path(sail) %></p>
  <% end %>
</div>

<p><%= link_to "New Sail", new_sail_path %></p>
