<div id="header"><h2>Boston Sailing Center Sails</h2></div>
<div id="logo"><%= image_tag("sail-logo.jpg") %></div><br>

<div id="sails">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @sails_by_date[date] %>
      <ul>
        <% @sails_by_date[date].each do |sail| %>
          <li><%= link_to sail.title, sail %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>


<p><%= link_to "New Sail", new_sail_path %>  |  
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path%>  |  
    <%= link_to "Sign In", new_user_session_path %>
  <%end%></p>

