<h1><%= @sail.title %></h1>

<p class="info">Created on <%= @sail.created_at.strftime("%B %e, %Y") %></p>

<%= simple_format @sail.details %>

<p>
  <%= link_to "Edit Sail", edit_sail_path(@sail) %> |
  <%= link_to "Back to Sails", sails_path %>
</p>
